.tabs {
    display: flex;
}

.tab-link {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: #ddd;
    border: 1px solid #aaa;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
